.menu .menu_parent .parent-li{
    position: relative;
}
.menu .menu_parent .parent-li .toggle-menu{
    display: none;
}
.menu .menu_parent .parent-li a{
    font-weight: 400!important;
    font-size: 18px!important;
}
.menu .menu_parent .parent-li .menu-lv1 li{
    position: relative;
}
.menu .menu_parent .parent-li .menu-lv1 li .menu-child{
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all .3s;
}
.menu .menu_parent .parent-li .menu-lv1 li:hover>.menu-child{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}
.menu .menu_parent .parent-li .menu-lv1 li .menu-child a{
    display: inline-block;
    padding: 0!important;
}
.menu .menu_parent .parent-li .menu-lv1{}
.menu .menu-child{}
@media only screen and (max-width: 1400px){
    .open-menu-home{
        display: none;
    }
    .menu-header .menu{
        display: block;
    }
    
}
@media only screen and (max-width: 1200px){
    header#header{
        position: relative;
        z-index: 1500;
    }
    #hotline {
        bottom: 20px;
    }
    .open-menu-home{
        display: block;
    }
    .menu-header .menu{
        display: none;
    }
    .menu .menu_parent .parent-li .toggle-menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-header .menu .menu_parent{
        flex-direction: column;
    }
    .menu .menu_parent .parent-li{
        text-align: left;
    }
    .menu{
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100vh - 81px);
    }
    .menu .menu_parent{
        height: 100%;
    }
    .menu-lv1 {
        position: relative;
        box-shadow: unset;
        border-radius: unset;
        border-bottom: 1px solid #ccc;
    }
    .menu .menu_parent .parent-li .menu-lv1 li .menu-child {
        position: relative;
        top: unset;
        left: unset;
        min-width: unset;
        opacity: 1;
        visibility: visible;
        transform: unset;
        transition: unset;
        width: 100%;
    }
    .menu .menu-lv1 .active, .menu .menu-lv1 li:hover {
        background: transparent;
    }
    .menu .menu_parent .parent-li .menu-lv1 li {
        text-align: left;
        margin-bottom: 0;
    }
    .menu li:hover .menu-lv1 {
        display: none;
        margin-top: unset;
    }
    .menu .menu_parent .parent-li .menu-lv1.active{
        display: block;
    }
    body.overlay{
        overflow: hidden;
    }
}